

<h3>Call Details</h3>
<p> Call ID: {{callId}} </p>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Datetime</th>
      <th>Method</th>
      <th>Source</th>
      <th>Destination</th>
      <th>From User</th>
      <th>To User</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(key, value) in messages">
      <td>{{value.Datetime}}</td>
      <td>{{value.Method}}</td>
      <td>{{value.SourceIp}}:{{value.SourcePort}}</td>
      <td>{{value.DestinationIp}}:{{value.DestinationPort}}</td>
      <td>{{value.FromUser}}</td>
      <td>{{value.ToUser}}</td>
      <td><a href="/#/call/{{value.CallId}}" class="btn btn-primary"><span class="glyphicon glyphicon-info-sign"></span></a></td>
    </tr>
  </tbody>
</table>


<div id="sipimage"></div>
