<div class="well well-large">
  <form>
    <fieldset>
    <legend>Search</legend>
      <div class="row">
        <div class="col-md-2">
          <label>Start Date</label>
          <input type="text"
           class="form-control"
           ng-model="filter.startDate"
           data-date-time-picker
           data-language="{{en}}"
           data-pick12HourFormat="false"
            />
          <label>End Date</label>
          <input type="text"
           class="form-control"
           ng-model="filter.endDate"
           data-date-time-picker
           data-language="{{en}}"
           data-pick12HourFormat="false"
            />
        </div>
        <div class="col-md-2">
          <label>To User</label>
          <input type="text"
           class="form-control"
           ng-model="filter.touser"
            />
          <label>From User</label>
          <input type="text"
           class="form-control"
           ng-model="filter.fromuser"
            />
        </div>
        <div class="col-md-2">
          <label>Source IP</label>
          <input type="text"
           class="form-control"
           ng-model="filter.sourceip"
            />
          <label>Destination IP</label>
          <input type="text"
           class="form-control"
           ng-model="filter.destip"
            />
        </div>
      </div>
      <p></p>
      <button type="submit" ng-click="search()" class="btn btn-primary">Search</button>
    </fieldset>
  </form>
</div>

  
  

<table class="table table-hover">
  <thead>
    <tr>
      <th>Datetime</th>
      <th>Method</th>
      <th>Source</th>
      <th>Destination</th>
      <th>From User</th>
      <th>To User</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(key, value) in messages">
      <td>{{value.Datetime}}</td>
      <td>{{value.Method}} {{value.ReplyReason}}</td>
      <td>{{value.SourceIp}}:{{value.SourcePort}}</td>
      <td>{{value.DestinationIp}}:{{value.DestinationPort}}</td>
      <td>{{value.FromUser}}</td>
      <td>{{value.ToUser}}</td>
      <td><a href="/#/call/{{value.CallId}}" class="btn btn-primary"><span class="glyphicon glyphicon-info-sign"></span></a></td>
    </tr>
  </tbody>
</table>